/* TOP BAR FIXED - Responsive */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;                  /* altura fija */
  background: #fff;              /* fondo blanco */
  display: flex;
  justify-content: center;       /* centra horizontal */
  align-items: center;           /* centra vertical */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1000;
  padding: 0 20px;               /* espacio lateral en móviles */
}

.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
  color: #111;
  text-align: center;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #111;
  background: #fff;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

/* HERO */
.hero {
  height: calc(100vh - 60px); /* 60px es la altura de la top-bar */
  background: url("../img/hero.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;        /* centra vertical */
  justify-content: center;    /* opcional: centra horizontal */
  padding: 0 60px 60px;       /* top: 0 porque ya restamos la barra */
}

.hero-content {
  max-width: 600px;
  text-align: center;
}


.btn-whatsapp {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 28px;
  background: #25D366;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

/* SECCIONES */
.section {
  padding: 80px 60px;
  text-align: center;
}

.section.light {
  background: #f7f7f7f1;
}

/* PROBLEMA */
.problem-section {
  background: #f7f7f7;
  padding: 100px 20px;
}

.problem-container {
  max-width: 900px;
  margin: 0 auto;
}

.bullets, 
.card ul, 
.process {
  list-style: none;
  padding: 0;
  margin: 0;
}

.problem-list li,
.card ul li,
.bullets li,
.process li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.problem-list li:last-child,
.card ul li:last-child,
.bullets li:last-child,
.process li:last-child {
  border-bottom: none;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

/* GALERÍA */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 8px;
}

/* PLANES */
.pricing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  border: 1px solid #ddd;
  padding: 30px;
}

.recommended {
  border: 2px solid #44f100;
}

.badge {
  color: #C9A24D;
  font-weight: bold;
}

/* CTA */
.cta {
  background: #111;
  color: #fff;
  padding: 80px 40px;
  text-align: center;
}

/* FOOTER */
footer {
  padding: 30px;
  text-align: center;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .top-bar {
    padding: 14px 24px;
  }

  .logo {
    font-size: 18px;
  }

  .hero {
    padding: 120px 24px 40px;
  }

  .section {
    padding: 60px 20px;
  }
}
